<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://raumstataufterdok167206836620221227115018.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2713f441-ef60-452e-a590-979d83fe593e/resourcegroups/Patientenakte/providers/Microsoft.Web/sites/RaumStatAufTerDok167206836620221227115018</ResourceId>
    <UserName>$RaumStatAufTerDok167206836620221227115018</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://raumstataufterdok167206836620221227115018.scm.azurewebsites.net/</PublishUrl>
    <ApiResourceId>/subscriptions/2713f441-ef60-452e-a590-979d83fe593e/resourceGroups/Patientenakte/providers/Microsoft.ApiManagement/service/wippatientenakte/apis/raumstataufterdok</ApiResourceId>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>