<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://loginfunction167225134220221228211942.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2713f441-ef60-452e-a590-979d83fe593e/resourcegroups/Patientenakte/providers/Microsoft.Web/sites/LoginFunction167225134220221228211942</ResourceId>
    <UserName>$LoginFunction167225134220221228211942</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://loginfunction167225134220221228211942.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>