<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kketteverwvermafunction167191580420221228221938.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2713f441-ef60-452e-a590-979d83fe593e/resourceGroups/Patientenakte/providers/Microsoft.Web/sites/KKetteVerwVermaFunction167191580420221228221938</ResourceId>
    <UserName>$KKetteVerwVermaFunction167191580420221228221938</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://kketteverwvermafunction167191580420221228221938.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>